/* Content Area
----------------------------------------------------------------------- */
.container{padding:80px 0;}

.main {
	min-height: 80vh;
}

.contact-info {
    width: 100%;
    min-height: 170px;
    margin-top: 0;
    padding: 13px;
    position: relative;
    background-color: #4B4641;
    text-align: left;
    color: #FF8F2B;
}
#contact-info {
    padding: 0;
}
.white-color {
    color: white;
}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"] {
    display:inline-block; width:auto; 
    min-width:150px; 
    margin:0; 
    padding:8px 5px; 
    cursor:pointer;
}
