/* Content Area
----------------------------------------------------------------------- */
.container{padding:80px 0;}

.contact-info {
    width: 100%;
    min-height: 170px;
    margin-top: 0;
    padding: 13px;
    position: relative;
    background-color: #4B4641;
    text-align: left;
    color: #FF8F2B;
}
#contact-info {
    padding: 0;
}
.white-color {
    color: white;
}

/* companies html  */
.companies {
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	&:hover {
        box-shadow: 0 0 10px 1px rgba(0,0,0,1);
    }
}

.company-img-container {
    position: relative;
    &:hover .companies-images {
        opacity: 0.3;
    }
    &:hover .middle {
        opacity: 1;
    }
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .text {
    background-color: #FF8F2B;
    color: white;
    font-size: 18px;
    padding: 20px 10px;
  }

.companies-images {
    width: 100%;
    height: 170px;

    opacity: 1;
    display: inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* youtube video  */
#youtube {
    width: auto;
    height: auto;
}