/* Content Area
----------------------------------------------------------------------- */
.container{padding:80px 0;}

.main {
	min-height: 80vh;
}

.contact-info {
    width: 100%;
    min-height: 170px;
    margin-top: 0;
    padding: 13px;
    position: relative;
    background-color: #4B4641;
    text-align: left;
    color: #FF8F2B;
}
#contact-info {
    padding: 0;
}
.white-color {
    color: white;
}