/* Footer
-------------------------------------------------------------------- */

/* Copyright
--------------------------------------------------------------------- */
#copyright {
    min-height: 20px;
    max-height: 165px;
}

#copyright__text {
    text-align: center;
}