/* Header
---------------------------------------------------------------- */
#header #logo{margin-top:15px;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:32px; font-variant:small-caps;}
#header #logo p{font-size:12px;}
#header #logo h1 a{color:inherit; background-color:inherit;}
#header-menu {
	min-height: 80px;
	max-height: 135px;
}

/* Sidebar */
.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/*Body
------------------------------------------------------------------*/
body {
	position: relative;
}

/* Transition Fade
----------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}

/* Tables
------------------------------------------------------------------ */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}

/* Gallery
------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}

/* Rows */
.row0{color:#4A4A4A; background-color:#FFFFFF;}
.row1{color:#FFFFFF; background-color:#4B4641;}
.row2, .row2 a{color:#888888; background-color:#FAFAFA;}
.row3{color:#4A4A4A; background-color:#FFFFFF;}
.row4, .row4.overlay{color:#EAEAEA; background-color:#3C3733;}
.row4.overlay::after{background-color:rgba(60,55,51,.8);/* #3C3733 */}
.row5, .row5 a{color:#EAEAEA; background-color:#272421;}

/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#FF8F2B;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}

/* Media Queries
----------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}

/* Max Wrapper Width - Laptop, Desktop etc.
----------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}

/* Other
------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable {
		display:block;
		width:100%; 
		margin:0 0 30px 0; 
		padding:0 0 15px 0; 
		overflow:auto; 
		overflow-x:scroll;
	}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}