/* Mobile Devices
---------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
  .hoc {
    max-width: 90%;
  }
  #header {
    padding: 15px 0;
  }
  #header #logo {
    margin: 0;
  }
  #mainav ul {
    display: none;
  }
  #mainav form {
    display: block;
  }
  .pagination li {
    display: inline-block;
    margin: 0 5px 5px 0;
  }
  #copyright p:first-of-type {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  #pageintro__left {
    width: 100%;
  }
  #pageintro__right {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .imgl, .imgr {
    display: inline-block;
    float: none;
    margin: 0 0 10px 0;
  }
  .fl_left, .fl_right {
    display: block;
    float: none;
  }
  .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 30px 0;
    padding: 0;
  }
  #topbar .fl_left ul {
    margin-bottom: 15px;
    text-align: center;
  }
  #topbar .fl_left ul li {
    display: inline-block;
    margin-right: 20px;
  }
  #topbar .fl_left ul li:last-child {
    margin-right: 0;
  }

  #header {
    text-align: center;
  }
  #header #logo {
    margin: 0 0 15px 0;
  }

  #mainav form {
    margin-top: 0;
  }

  #pageintro article {
    max-width: none;
  }
  #pageintro article .heading {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .container, #footer {
    padding-bottom: 50px;
  }
}