/* Page Intro
------------------------------------------------------------------------ */
#pageintro {
  width: 100%;

  &__left,
  &__right {
    float: left;
    width: 50%;
  }

  &__left {
    .heading {
      margin-bottom: 30px;
      font-size: 42px;
    }
  }
  &__right {
    border: 1px solid #FF8F2B;
    padding-left: 5px;
    max-width: 421px;
    height: 281px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 0 10px 1px rgba(255,143,43,1);
    background-color: #4B4641;
  }
}

#contact-icons {
  display: inline-table;
  width: 100px;
  &__fb,
  &__insta {
      width: 40px;
      margin-top: 30px;
      margin-right: 5px;
  }
}

#pageintro article p:last-of-type {
  margin-bottom: 30px;
}

#hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 130px);
  background-image: url("../images/fwtistika.jpg");
  background-position: center center;
}

.contact_page-icons {
  width: 50px;
}

p#cf7_controls {
  text-align: center;
  color: white;
  margin: 0;
}

#cf7_controls span {
  margin-right: 2em;
  cursor: pointer;
  padding: 3px;
  &:hover {
    box-shadow: 0 0 10px 1px rgba(255,143,43,1);    
    font-size: large;
  }
}

#cf7 {
  position: relative;
  height: 240px;
  width: 410px;
  //margin:0 auto 10px;
}

.slider-images {
  width: 100%;
  height: 230px;
}

#cf7 img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}