/* Page Intro
------------------------------------------------------------------------ */

#hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 130px);
  background-image: url("../images/fwtistika.jpg");
  background-position: center center;
}

#pageintro {
  width: 100%;

  &__left,
  &__right {
    float: left;
    width: 50%;
    margin-left: 15px;
  
  }

  &__left {
    .heading {
      margin-bottom: 30px;
      font-size: 42px;
    }
  }
  &__right {
    border: 1px solid #FF8F2B;
    max-width: 410px;
    height: 241px;
    box-shadow: 0 0 10px 1px rgba(255,143,43,1);
    background-color: #4B4641;
  }
}

/*in left div*/
#contact-icons {
  display: inline-table;
  width: 100px;
  &__fb,
  &__insta {
      width: 40px;
      margin-top: 30px;
      margin-right: 5px;
  }
}
/*contact html file*/
.contact_page-icons {
  width: 50px;
}

/*animation style  */
#images-animation {
  position: relative;
  height: 240px;
  width: 410px;
  background-image: url("../images/images-animation/1.jpg");
  background-size: 100% 100%;
  animation: page_intro_animate 32s ease-in-out 2s infinite alternate;
}
@keyframes page_intro_animate {
  0%   {
    background-image: url("../images/images-animation/4.jpg"); 
    background-repeat:no-repeat;
    background-position: center center;
  }
  25%  {
    background-image: url("../images/images-animation/3.jpg"); 
    background-repeat:no-repeat;
    background-position: center center;
}
  50%  {
    background-image: url("../images/images-animation/2.jpg");
    background-repeat:no-repeat;
    background-position: center center;
  }
  75%  {
    background-image: url("../images/images-animation/1.jpg");
    background-repeat:no-repeat;
    background-position: center center;
  }
  100% {
    background-image: url("../images/images-animation/4.jpg");
    background-repeat:no-repeat;
    background-position: center center;
  }
}
/* end animation style */