/*Products layout
----------------------------------------------------*/

.wrapper .content p {
    margin: 0;
}

table td {
    color: black;
}

.fpa-text {
    &__at {
        color: red;
        text-decoration-line: underline;
    }
}