/*Products layout
----------------------------------------------------*/

.wrapper .content p {
    margin: 0;
}

table td {
    color: black;
}

.fpa-text {
    margin-bottom: 45px;
    &__at {
        color: red;
        text-decoration-line: underline;
    }
}

.product {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solod #FF8F2B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}